@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.p-summary {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    font-family: 'Ropa Sans', sans-serif;
}

.p-summary h1 {
    font-weight: 400;
    letter-spacing: 0.2em;
}

.p-summary p {
    letter-spacing: 0.2em;
}

.p-summary a {
    color: #333;
}

.p-canvas-webgl {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}